.DS_Store
config.status
config.log
setup_files.log
build
*.so
*.pyc
smili.egg-info
dist
*.o
src/*/makefile
*.o2
*.a
smili/*.dSYM
src/*/*.dSYM
aclocal.m4
autom4te.cache/*
docs/_examples/*/.ipynb_checkpoints/*
*.mod
docs/_build/*
