.DS_Store
config.status
config.log
setup_files.log
build
*.so
smili.egg-info
dist
*.o
src/fortlib/makefile
src/*/makefile
*.o2
*.a
smili/fortlib.so.dSYM
src/fortlib/fortlib.so.dSYM
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
